<h1>Login</h1>

<form method="post" action="/login">
  <label for="email">Email</label>
  <input type="text" name="email" id="email" value="bobbo@gmail.com" />
  <label for="password">Passowrd</label>
  <input type="text" name="password" id="password" value="password" />
  <button type="submit">Login</button>
  <a href="/register">Register</a>
</form>
